{% extends 'base.html' %}
{% block title %}{{user.full_name}}{% endblock %}

{% block content %}

<div class="container">
	<div class="row d-flex justify-content-around align-items-start mt-3">
		<h1 class="display-6">Update User</h1>
		<hr>
		
		<form class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4" id="edit_user_form" action="/users/{{user.id}}/edit" method="POST">
				
			<div class="mb-3">
				<label for="first_name" class="form-label">First Name</label>
				<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name..." value="{{user.first_name}}" required>
			</div>

			<div class="mb-3">
				<label for="last_name" class="form-label">Last Name</label>
				<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name..." value="{{user.last_name}}" required>
			</div>

			<div class="mb-3">
				<label for="image_url" class="form-label">Image URL</label>
				<input type="url" class="form-control" id="image_url" name="image_url" placeholder="Enter a link to a picture..." value="{{user.image_url}}">
			</div>
      
			<a href="/users/{{user.id}}" class="btn btn-outline-primary">Cancel</a>
			<button type="submit" class="btn btn-success">Save</button>

		</form>
	</div>
</div>

{% endblock %}

{% block page_scripts %}{% endblock %}